@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<div class="about-us">
	<img src="/images/aboutus.png" alt="" class="img-fluid">
</div>
<!-- Start About -->
<div class="about-section-box">
	<div class="container">
		<div class="row">
			<div class=" text-center">
				<div class="inner-column">
					<h1>Welcome To <span>RESERVADO</span></h1>
					<h4>OUR STORY</h4>
					<div class="inner-pt">
						<p>
							We love what can happen around the restaurant table. And since 2023 we’ve been committed
							to empowering that experience. From helping restaurants of all sizes thrive, to enabling
							diners to find and book the perfect table for every occasion, our story is one of human
							connection—among diners and restaurants, and between restaurants and their communities.
						</p>
						<p>
							Now, we’re growing globally like never before, and continuing to lead the conversation in
							the tech and restaurant spaces with products that anticipate the ever-evolving needs of
							both restaurants and diners.
						</p>
						<p>
							With our passion for hospitality, we take pride in bringing together people and the
							restaurants they love in the moments that matter. Pull up a chair and join us.
						</p>
					</div>
					<a class="btn btn-lg btn-circle btn-outline-new-white" href="index.html">Reservation</a>
				</div>
			</div>

		</div>
	</div>
</div>
<!-- End About -->
<!-- Start Customer Reviews -->
<div class="customer-reviews-box">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="heading-title text-center">
					<h2>Customer Reviews</h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 mr-auto ml-auto text-center">
				<div id="reviews" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner mt-4">
						<div class="carousel-item text-center active">
							<div class="img-box p-1 border rounded-circle m-auto">
								<img class="d-block w-100 rounded-circle" src="/images/quotations-button.png" alt="">
							</div>
							<h5 class="mt-4 mb-0">
								<strong class="text-warning text-uppercase">Paul Mitchel</strong>
							</h5>
							<h6 class="text-dark m-0">Customer</h6>
							<p class="m-0 pt-3">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem
								tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel,
								semper malesuada ante. Idac bibendum scelerisque non non purus. Suspendisse varius
								nibh non aliquet.
							</p>
						</div>
						<div class="carousel-item text-center">
							<div class="img-box p-1 border rounded-circle m-auto">
								<img class="d-block w-100 rounded-circle" src="/images/quotations-button.png" alt="">
							</div>
							<h5 class="mt-4 mb-0">
								<strong class="text-warning text-uppercase">Steve Fonsi</strong>
							</h5>
							<h6 class="text-dark m-0">Customer</h6>
							<p class="m-0 pt-3">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem
								tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel,
								semper malesuada ante. Idac bibendum scelerisque non non purus. Suspendisse varius
								nibh non aliquet.
							</p>
						</div>
						<div class="carousel-item text-center">
							<div class="img-box p-1 border rounded-circle m-auto">
								<img class="d-block w-100 rounded-circle" src="/images/quotations-button.png" alt="">
							</div>
							<h5 class="mt-4 mb-0">
								<strong class="text-warning text-uppercase">Daniel vebar</strong>
							</h5>
							<h6 class="text-dark m-0">Business Owner</h6>
							<p class="m-0 pt-3">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem
								tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel,
								semper malesuada ante. Idac bibendum scelerisque non non purus. Suspendisse varius
								nibh non aliquet.
							</p>
						</div>
					</div>
					<a class="carousel-control-prev" href="#reviews" role="button" data-slide="prev">
						<i class="fa fa-angle-left" aria-hidden="true"></i>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#reviews" role="button" data-slide="next">
						<i class="fa fa-angle-right" aria-hidden="true"></i>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Customer Reviews -->
